*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei","黑体",Arial,sans-serif;
	background: #d3d0cb;
}
a,em{
	font-style: normal;
}
ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
/*@font-face{
	font-family: PingFang-SC-Bold;
	src:url('../fonts/苹方 Bold.ttf');
}
@font-face{
	font-family: PingFang-SC-Medium;
	src:url('../fonts/苹方 Medium.ttf');
}
@font-face{
	font-family: PingFang-SC-Regular;
	src:url('../fonts/苹方 Regular.ttf');
}*/
.head{
	width: 100%;
	height: 670px;
	background: #efefef;
}
.head-img div{
	float: left;
}
.head .head-con{
	padding: 200px 100px 0;
	height: 480px;
}
.head-back{
	height: 190px;
	background: #f4f4f4;
}
.img1{
    top: 194px;
}
.img2{
	z-index: 2;
}
.img3{
	top: 50px;
	left: -133px;
}
.img3 img{
	max-width: 500px;
}
.img4{
	top: 134px;
	left: 105px;
}
.content{
	margin-top: 35px;
	background: #f6f5f5;
}
.content .type{
	margin-top: 80px;
}
.type{
	border-bottom: 1px solid #4f4f4f;
	margin-bottom: 30px;
}
.type .item{
	text-align: center;
}
.type .item p{
	color: #101010;
	font-size: 20px;
	font-family: "Microsoft Yahei";
	margin-bottom: 20px;
}
.hide{
	display: none;
}
.project-box {
    margin-bottom: 40px;
}